@import "reset.scss";

body{
	font-family:'Mplus 1p', sans-serif;
}
.wrapper {
	display: flex;
	flex-flow: column;
	min-height: 100%;
	overflow: hidden;
}

section{
	flex: 1 1 auto;
}
.container {
	text-align: center;
	max-width: 1146px;
	margin: 0 auto;
}




 .title{
font-family: Mplus 1p;
font-size: 13px;
font-weight: 800;
line-height: 26px;
letter-spacing: 6px;
text-align: left;
	position: relative;
	::after{
		content: '';
		position: absolute;
		width: 95%;
		background-color: rgba(246, 16, 103, 1);
		height: 2px;
		left: 50%;
		bottom: 0;
		transform: translate(-50%);
		margin-left: -2% ;
		}

		&__last{
			::after{
				content: '';
				position: absolute;
				width: 50%;
				background-color: rgba(246, 16, 103, 1);
				height: 2px;
				left: 50%;
				bottom: 0%;
				transform: translate(-50%);
				margin-left: -25% ;
				}
		}
}


.color{
	background: rgba(94, 35, 157, 1);
	&__black{
		background-color: rgba(48, 18, 78, 1);
	}
}



.main {
		&__body {
			display: flex;
			flex-flow: column;
			padding: 0 15px;
		}

		&__item {

		}

		&__title {
			margin-top: 180px;
			color: rgba(246, 16, 103, 1);
			font-size: 13px;
			font-weight: 800;
			line-height: 26px;
			letter-spacing: 6px;
			text-align: left;

		}
		&__text {
			margin-top: 12px;
			max-width: 754px;
			color: rgba(48, 35, 61, 1);
			font-size: 27px;
			font-weight: 500;
			line-height: 40px;
			letter-spacing: 0em;
			text-align: left;

		}
}
.section {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 60px;
	margin-bottom: 180px;
		&__content {
			max-width: 362px;
			height: 100%;
			border: 1px rgba(246, 16, 103, 0.5) solid;
			padding: 54px 34px;
			margin-top: 20px;
			position: relative;
			&:hover {
				background-color: rgba(246, 16, 103, 1);
			
			}
		}
		&__title {
			width: 100%;
			font-size: 27px;
			font-weight: 500;
			line-height: 40px;
			text-align: left;
			color: rgba(48, 35, 61, 1);
			background: url(../img/Icon.png) top left/72px no-repeat;
			padding-top: 90px;


			&_img {
				background: url(../img/Icongrande.png) top left/54px 61px no-repeat;
				color: rgba(252, 252, 252, 1);
			}
			&_number {
				background: none;
			}
		}
		&__text {
			margin-top: 13px;
			max-width: 290px;
			color: rgba(48, 35, 61, 1);
			font-size: 16px;
			font-weight: 400;
			line-height: 26px;
			text-align: left;
			
		}
		&__number {
			color: rgba(246, 16, 103, 1);
			font-size: 18px;
			font-weight: 800;
			line-height: 37px;
			letter-spacing: 4px;
			text-align: left;
			position: absolute;
			width: 100%;
			height: 100%;
			top: 10%;
		}
		
}
.text{
	color: rgba(252, 252, 252, 1);
	padding-top: 12px;
}

.border{
	border: 1px solid rgba(255, 255, 255, 0.2);
	:hover{
		color: rgba(252, 252, 252, 1);
	}
}

.footer {
	background: rgba(21, 4, 51, 1);

	&__row {
		padding: 125px 0;
		
	}

	&__todo {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		padding: 0 15px;
	}

	&__colum {
	
		&_logo {
			
			text-align: left;
			p{
				margin-top: 17px;
				font-size: 16px;
				font-weight: 400;
				line-height: 26px;
				color: rgba(252, 252, 252, 1);
				max-width: 166px;
			}
		}
	}

	&__logo {
		flex: 0 0 30%;
		span{
				font-size: 24px;
				font-weight: 900;
				line-height: 43px;
				letter-spacing: 2px;
				text-align: left;
				color: rgba(252, 252, 252, 1);}
	}

	&__vertical {
		display: flex;
		flex: 0 0 80%;
		justify-content: space-between;
		flex-wrap: wrap;
	}


	&__body {
		display: flex;
		justify-content: space-around;
		flex: 0 0 60%;
		flex-wrap: wrap;
	}


	&__compact {
		display: flex;
		justify-content: space-between;
		flex: 0 0 40%;
		flex-wrap: wrap;
	}


	&__menu {
		display: flex;
		flex-flow: column;
		margin-top: 20px;
		a{
			color: rgba(252, 252, 252, 1);
		}
	}


	&__end {
margin-top: 64px;
font-size: 12px;
font-weight: 400;
line-height: 19px;
letter-spacing: 0em;
text-align: center;
color: rgba(252, 252, 252, 1);
	}
}

.menu {

	&__title {
		text-transform: uppercase;
		margin-bottom: 26px;
	}

	&__list {
		text-align: left;
		
	}

	&__item {
	}

	&__link {
font-size: 13px;
font-weight: 700;
line-height: 28px;
letter-spacing: 1px;
text-align: left;
color: rgba(252, 252, 252, 1);
	}
	&__icon {
		display: flex;
		justify-content: space-between;
	}

	&__img {
		img{
		width: 20px;
		height: 20px;
		}
	}
}

.menu__list__icon{
	margin-top: 20px;
	width: 264px;
	display: flex;
	justify-content: space-between;
}



@media all and (min-width: 480px) and (max-width: 768px) { 
	.container {
		max-width: 768px;
	}
	.section {
		display: flex;
		justify-content: space-around;
	}
	.footer__todo{
		justify-content: center;
	}
	.footer__vertical{
		justify-content: center;
	}
	.footer__menu{
		justify-content: center;
	}
	.menu__title{
		a{
			display: flex;
			justify-content: center;
			text-align: center;
		}
	}
	.title__last{
		::after{margin-left: -1%;}
	}
	.footer__compact{
		flex-wrap: nowrap;
		justify-content: center;
		width: 100%;
	}
	
	.menu__list{
		flex: 1 0 auto;
	}
	.footer__menu{
		margin: 10px 30px;
	}

}

@media all and (max-width: 480px) { 
	.container {
		max-width: 480px;
	}

	.section {
		justify-content: space-around;
	}
	.footer__todo{
		justify-content: center;
	}
	.footer__vertical{
		justify-content: center;
	}
	.footer__menu{
		justify-content: center;
		
	}
}